<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p-card header="Lista Completa de Usuarios" subheader="Administración UMG" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                <p-header>
                    <img src="../../assets/img/usercard.png">
                </p-header>
                <div>Listado completo de todos los usuarios Estudiantes, Maestros y Administradores</div>
                <p-footer>
                    <button pButton label="Mostrar" [routerLink]="['/usuarios/allusers']"></button>
                    
                </p-footer>
            </p-card>
         </div>
         <div class="col-md-6">
                <p-card header="Lista de Estudiantes" subheader="Administración UMG" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                        <p-header>
                            <img src="../../assets/img/usercard.png">
                        </p-header>
                        <div>Listado completo de todos los usuarios del Tipo Estudiante</div>
                        <p-footer>
                            <button pButton label="Mostrar"></button>
                            
                        </p-footer>
                    </p-card>
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
                <p-card header="Lista de Maestros" subheader="Administración UMG" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                        <p-header>
                            <img src="../../assets/img/usercard.png">
                        </p-header>
                        <div>Listado completo de todos los usuarios del Tipo Maestro</div>
                        <p-footer>
                            <button pButton label="Mostrar"></button>
                            
                        </p-footer>
                    </p-card>     
        </div>
        <div class="col-md-6">
                <p-card header="Lista de Administradores" subheader="Administración UMG" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                        <p-header>
                            <img src="../../assets/img/usercard.png">
                        </p-header>
                        <div>Listado completo de todos los usuarios del Tipo Administrador</div>
                        <p-footer>
                            <button pButton label="Mostrar"></button>
                            
                        </p-footer>
                    </p-card>
        </div>
    </div>
</div>